site_name: Suika3 Docs
repo_url: https://github.com/suika3-community/suika3
use_directory_urls: false

nav:
  - Home: index.md

theme:
  name: material
  features:
    - navigation.expand
    - navigation.tabs
    - search.suggest
    - content.code.annotate
